.grid {display: flex;flex-direction: row;flex-wrap: wrap;}
.grid > div{flex: 0 0 10%;    margin: 5px;}
ul{display: flex;flex-direction: row;padding: 0;margin: 0;}
ul li{list-style-type: none;padding: 1rem;}