#datos-unicos {display: flex;    justify-content: center; align-items: center;}
#datos-unicos .datos-unicos-block {
    padding: 1rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root{
  --color-1: rgb(247 197 196);
  --color-2: rgb(240 143 143) ;
  --color-3: rgb(115 228 240) ;
  --color-4: rgb(48 119 201);
  --spinner: #30c991 ;
  --grey: rgb(235 235 235);
}
  /*------------------------------------------
            Circles
  ------------------------------------------*/
div#datos-unicos-circles,
div#datos-unicos-circles-bordered{  display: flex;  justify-content: space-around;}
.cirlces-block {  display: flex; flex-direction: column;  align-items: center;}
  .circles {
    --w:150px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    animation:p 1s .5s both;
  }
  .circles-bordered:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .circles-fill:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  }

  .circles span {
    z-index: 6;
  }
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
@keyframes p {
  from {--p:0}
}
/*-----------------------------

    Half-donuts
------------------------------*/
/* .half-donuts .spinner-block { border-radius: 200px 200px  0 0;} */
.half-donuts .spinner-block{
    --w: 150px;
    margin-bottom: 1rem;
    position: relative;
    margin: 1rem auto;
    height: calc((var(--w) / 2) + 5px);
    overflow: hidden;
}
.half-donuts .spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc((var(--p) / 2 )*1%), var(--c2) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side,#000 calc(99% - var(--b)),#000 calc(100% - var(--b)));  
}

.half-donuts .spinner {
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    transform: rotate(-90deg);
    animation:p 1s .5s both;
}
.half-donuts .valor{
    z-index: 2;
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    top: calc(var(--w) / 2);
    left: 50%;
    transform: translate(-50%, -50%);
}

.half-donuts.frustrated .spinner:after{
    background: conic-gradient(var(--c) calc((var(--p) / 2 )*1%), var(--color-1) 0%, var(--color-1) 12.5%, var(--color-2) 12.5%,var(--color-2) 25%, var(--color-3) 25%, var(--color-3) 37.5%, var(--color-4), 37.5%, var(--color-4) 50% );
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side,#000 calc(99% - var(--b)),#000 calc(100% - var(--b)));  
}

/*------------------------
    4 - blocks
------------------------*/
.blocks span {
    padding: 1px 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    color: #fff;
}
.blocks span:not(:first-child){margin-left: 2px;}
  
.blocks span:nth-child(1) {background: var(--color-1);}
.blocks span:nth-child(2) { background: var(--color-2); color: #000;}
.blocks span:nth-child(3) {  background: var(--color-3);  color: #000;}
.blocks span:nth-child(4){  background: var(--color-4);}




/* GORIZONTAL */
#datos-unicos-gorizontal .blocks span{margin: 0;background: none;}
#datos-unicos-gorizontal .blocks{
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
#gorizontal-grafico4 .grafico-vertical {
    background: linear-gradient(90deg, var(--color-1) 0%, var(--color-1) 25%,var(--color-2) 25%,var(--color-2) 50%,var(--color-3) 50%,var(--color-3) 75%,var(--color-4) 75%);
}
#datos-unicos-gorizontal  .grafico-vertical{  position: relative;}
#datos-unicos-gorizontal .spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  	width: 0;
  	animation: spinRight .75s ease-out forwards 1s;
    background: var(--spinner);
}
#datos-unicos-gorizontal .grafico-vertical {
    height: 40px;
    padding: 0!important;
}
#datos-unicos-gorizontal .valor {
    z-index: 10;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

#datos-unicos-gorizontal .grafico-vertical {
    background: var(--grey);
}
@keyframes spinRight{
    100%{width: calc(var(--number) * 1%);}
}
@keyframes roteCircle{
    100%{transform: rotate(calc( -90deg + (var(--number, 0) * 1.8deg)));}
}