#datos-unicos {display: flex;    justify-content: center;  min-height: 50vh;  align-items: center;}
#datos-unicos .datos-unicos-block {
    max-width: 235px;
    height: 225px;
    padding: 1rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root{
  --color-1: rgb(247 197 196);
  --color-2: rgb(240 143 143) ;
  --color-3: rgb(115 228 240) ;
  --color-4: rgb(48 119 201);
  --spinner: #30c991 ;
  --grey: rgb(235 235 235);
}

.grafico1{
    --number: 59;
}
.grafico2{
    --number: 30;
}
.grafico3{
    --number: 75;
}
.grafico4{
    --number: 40;
}
#datos-unicos .image{
    margin-bottom: 1rem;
    overflow: hidden;
    width: 200px;
    height: 100px;
    border-radius: 200px 200px  0 0;
}
#datos-unicos .arcos {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.valor span{
    font-weight: 400;
    font-size: 19px;
    line-height: 15px;
    letter-spacing: 1px;
}
.title span{
    font-weight: 300;
    text-align: center;
      font-size: 17px;
}
.description{margin-bottom: 5px;}
.description span {
    color: #898989;
    margin-bottom: 1rem;
    font-size: 17px;
}
#datos-unicos .spinner {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: calc(100% * 2);
    background: linear-gradient(-90deg,  var(--grey) 0%, var(--grey) 50%,var(--spinner) 50%,var(--spinner));
    transform-origin: center;
    left: 0;
    transform: rotate(calc( -90deg + (0 * 1.8deg)));
    animation: rotateMidleCircle .75s ease-out forwards 1s;
    border-radius: 1000px;
}

/*------------------------
    4 - blocks
------------------------*/
#datos-unicos .grafico4 .spinner {
    z-index: 2;
    background: #000;
    transform: rotate(-88deg);
    width: 3px;
    left: 50%;
}

.blocks span {
    padding: 1px 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    color: #fff;
}
.blocks span:not(:first-child){margin-left: 2px;}

.arcos .valor{
    z-index: 2;
    width: 65%;
    border-radius: 200px 200px  0 0;
    background-color: #fff;
    height: 65%;
    display: flex;
    align-items: end;
    justify-content: center;
    
}

#datos-unicos .triangle {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 1000px;
    overflow: hidden;
    bottom: -100%;
    left: 0;
    transform: rotate(90deg);
    z-index: 2;
    clip-path: polygon(0% 100%, 50% 50%, 50% 100%);
  }
  .triangle:nth-child(2){
    transform: rotate(135deg);
  }
  .triangle:nth-child(3){
    transform: rotate(180deg);
  }
  .triangle:nth-child(4){
    transform: rotate(225deg);
  }
  
  .blocks span:nth-child(1),  .triangle:nth-child(1):after {
    background: var(--color-1);
    }

    .blocks span:nth-child(2),  .triangle:nth-child(2):after {
        background: var(--color-2);
        color: #000;
    }
    .blocks span:nth-child(3),  .triangle:nth-child(3):after {
        background: var(--color-3);
        color: #000;
    }
    .blocks span:nth-child(4),  .triangle:nth-child(4):after {
        background: var(--color-4);
    }

  .triangle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }


/* GORIZONTAL */
#datos-unicos-gorizontal .blocks span{margin: 0;background: none;}
#datos-unicos-gorizontal .blocks{
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}
#gorizontal-grafico4 .grafico-vertical {
    background: linear-gradient(90deg, var(--color-1) 0%, var(--color-1) 25%,var(--color-2) 25%,var(--color-2) 50%,var(--color-3) 50%,var(--color-3) 75%,var(--color-4) 75%);
}
#datos-unicos-gorizontal  .grafico-vertical{  position: relative;}
#datos-unicos-gorizontal .spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  	width: 0;
  	animation: spinRight .75s ease-out forwards 1s;
    background: var(--spinner);
}
#datos-unicos-gorizontal .grafico-vertical {
    height: 40px;
    padding: 0!important;
}
#datos-unicos-gorizontal .valor {
    z-index: 10;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

#datos-unicos-gorizontal .grafico-vertical {
    background: var(--grey);
}

/* -------------------------------
        CIRCLES
----------------------------------*/
div#datos-unicos-circle {
    display: flex;
    justify-content: space-around;
}
div#datos-unicos-circle .description,
div#datos-unicos-circle .title {text-align: center;}
div#datos-unicos-circle .image{height: 200px; overflow: unset;width: 200px;    margin-bottom: 5px;}
div#datos-unicos-circle .arcos{position: relative;width: inherit;  height: inherit;}
div#datos-unicos-circle .spinner{position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: linear-gradient(-90deg, var(--grey) 0%, var(--grey) 50%,var(--spinner) 50%,var(--spinner));
    transform-origin: center;
    transform: rotate(calc( -90deg + (0 * 3.6deg)));
    animation: rotateFullCircle .75s ease-out forwards 1s;
    border-radius: 1000px;
}

div#datos-unicos-circle .triangle:first-of-type {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 2;
    clip-path: circle(50% at 100% 0%);
}
div#datos-unicos-circle .triangle + .triangle{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 1000px;
    overflow: hidden;
    bottom: -100%;
    left: 0;
    transform: rotate(90deg);
    z-index: 2;
    clip-path: polygon(0% 100%, 50% 50%, 50% 100%);
  }


  .pie {
    --w:150px;
    
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  /* .pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  } */
  .pie:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  }

@keyframes spinRight{
    100%{width: calc(var(--number) * 1%);}
}
@keyframes rotateMidleCircle{
    100%{transform: rotate(calc( -90deg + (var(--number, 0) * 1.8deg)));}
}
@keyframes rotateFullCircle{
    100%{transform: rotate(calc( -90deg + (var(--number, 0) * 3.6deg)));}
}