@property --step{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
@property --value {
  syntax: '<integer>';
  initial-value: 0;
  inherits: true;
}

@keyframes step {
  from {--step: 0; }
}
@keyframes setValue {
  from {--value: 0; }
}
/* .spinner-value span{--num: var(--step)} */

.spinner-value span, .valor2 span{

  animation: setValue  1s .5s linear;
  counter-set: value var(--value);
}
.spinner-value span:after, .valor2 span:before{
  content: counter(value);
}

:root{
  --color-1: rgb(247 197 196);
  --color-2: rgb(240 143 143) ;
  --color-3: rgb(115 228 240) ;
  --color-4: rgb(48 119 201);
  --spinner: rgb(49, 201, 145) ;
  --spinner-1: rgb(49, 201, 145 / 30%) ;
  --grey: rgb(235 235 235);
}
  /*------------------------------------------
            Circles
  ------------------------------------------*/
div#datos-unicos-circles,
div#datos-unicos-circles-bordered{  display: flex;  justify-content: space-around;}
.cirlces-block {  display: flex; flex-direction: column;  align-items: center;}
  .circles {
    --w:150px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    animation: step 1s .5s both;
  }
  .circles-bordered:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--step)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .circles-fill:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--step)*1%),#0000 0);
  }

  .circles span {
    z-index: 6;
  }



.spinner-block,
.spinner { position: relative;}
.valor{
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  font-size: 20px;
}

.spinner:after {
  content: "";
  position:absolute; 
}
/*-----------------------------

    Half-donuts
------------------------------*/
.half-donuts .spinner-block{
    --w: 150px;
    margin-bottom: 1rem;
    margin: 1rem auto;
    height: calc((var(--w) / 2) + 5px);
    overflow: hidden;
}
.half-donuts .spinner:after{
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc((var(--step) / 2 )* 1%), var(--c2) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side,#000 calc(99% - var(--b)),#000 calc(100% - var(--b)));  
}

.half-donuts .spinner {
    width: var(--w);
    aspect-ratio: 1;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    transform: rotate(-90deg);
    animation: step 1s .5s both;
    position: absolute;
}
.half-donuts .valor{
    top: calc(var(--w) / 2);
}

.half-donuts.split .spinner:after{
    background: conic-gradient(var(--c) calc((var(--step) / 2 )*1%), var(--color-1) 0%, var(--color-1) 12.5%, var(--color-2) 12.5%,var(--color-2) 25%, var(--color-3) 25%, var(--color-3) 37.5%, var(--color-4), 37.5%, var(--color-4) 50% );
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side,#000 calc(99% - var(--b)),#000 calc(100% - var(--b)));  
}

/*4 - blocks*/
.blocks span {
    padding: 1px 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    color: #fff;
}
.blocks span:not(:first-child){margin-left: 2px;}
  
.blocks span:nth-child(1) {background: var(--color-1);}
.blocks span:nth-child(2) { background: var(--color-2); color: #000;}
.blocks span:nth-child(3) {  background: var(--color-3);  color: #000;}
.blocks span:nth-child(4){  background: var(--color-4);}


/*------------------------
		Linear
-------------------------*/
.linear-spinner .spinner {
  width: 100%;
  min-height: 35px;
  background: #ddd;
}
.linear-spinner.split .spinner {
  background: linear-gradient(90deg, var(--color-1) 0%,var(--color-1) 25%,var(--color-2) 25%,var(--color-2) 50%,var(--color-3) 50%,var(--color-3) 75%,var(--color-4) 75%,var(--color-4) 100%);
}

.linear-spinner .spinner:after {
  background: linear-gradient(90deg, var(--spinner-1) calc(var(--step)*1%), transparent 0);
  top: 0;
  left:0;
  bottom:0;
  width: 100%;
  animation: step 1s .5s both;
}
