@property --step{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
@property --value {
  syntax: '<integer>';
  initial-value: 0;
  inherits: true;
}
@property --start{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
@property --end{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes chartAreaStart {
  from {--start: 0;--end:0; }
}

@keyframes step {
  from {--step: 0; }
}
@keyframes setValue {
  from {--value: 0; }
}
/* .spinner-value span{--num: var(--step)} */

.spinner-value span,
.spinner-block .valor span{
  animation: setValue  1s .5s linear;
  counter-set: value var(--value);
}
.spinner-value span:after,
.spinner-block .valor span:before{
  content: counter(value);
}

:root{
--color-1: rgb(247 197 196);
--color-2: rgb(240 143 143) ;
--color-3: rgb(115 228 240) ;
--color-4: rgb(48 119 201);
--spinner: rgb(49, 201, 145) ;
--spinner-1: rgb(49, 201, 145 / 30%) ;
--grey: rgb(235 235 235);
}

.spinner-block,
.spinner { position: relative;}
.valor{
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: center;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 7%);
  position: absolute;
  font-size: 20px;
}

.spinner:after,
.chart.donuts .spinner::after,
.chart.straight .spinner:after,
.pointer-chart .spinner:before {
  content: "";
  position: absolute; 
}

.chart.donuts .spinner {
  --w: 100%;
  animation: step 1s .5s both;
  display: inline-grid;
  place-content: center;
  width: var(--w);
  aspect-ratio: 1;
}
.chart.donuts .spinner::after{
  border-radius: 50%;
  inset: 0;
}

.donuts:not(.donuts-fill) .spinner:after {
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

/*------------------------------------------
  Circles
------------------------------------------*/

.donuts-thin .spinner:after,
.donuts-fill .spinner:after{
  background: conic-gradient(var(--c) calc(var(--step)*1%),#0000 0);
}
.donuts-fill .valor,
.donuts-thin .valor {
  bottom: 50%;
  transform: translate(-50%, 50%);
}

/* FULL DONUTS SPLIT*/
.donuts.split .spinner {
  transform: rotate(-90deg);
}
.donuts.split:not(.half-donuts) .spinner:after{
  background: conic-gradient(var(--c) calc(var(--step)*1%), var(--color-1) 0%, var(--color-1) 25%, var(--color-2) 25%,var(--color-2) 50%, var(--color-3) 50%, var(--color-3) 75%, var(--color-4) 75%);
}
.donuts.split:not(.half-donuts) .valor{bottom: 50%;transform: translate(-50%, 50%);}

/*-----------------------------
  Half-donuts
------------------------------*/
.half-donuts > .spinner-block{
  --w: 100%;
  height: 49%;
  overflow: hidden;
}
.half-donuts .spinner:after{
  background: conic-gradient(var(--c) calc((var(--step) / 2 )* 1%), var(--c2) 0);
}
.half-donuts {
  aspect-ratio: 1;
}
.half-donuts .spinner {
  transform: rotate(-90deg);
}
.donuts.half-donuts .valor{
  top: calc(var(--w) / 2);
}
.half-donuts.split .spinner:after{
  background: conic-gradient(var(--c) calc((var(--step) / 2 )*1%), var(--color-1) 0%, var(--color-1) 12.5%, var(--color-2) 12.5%,var(--color-2) 25%, var(--color-3) 25%, var(--color-3) 37.5%, var(--color-4), 37.5%, var(--color-4) 50%, var(--spinner) 52% );
}

.half-donuts.split {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

/*4 - blocks*/
.blocks span {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  flex: 0 0 25%;
  text-align: center;
}
  
.blocks span:nth-child(2) {color: #000;}
.blocks span:nth-child(3) {color: #000;}
.blocks {  display: flex;}

.blocks,
.chart.straight.split .spinner {  
  background: linear-gradient(90deg, var(--color-1) 0%,var(--color-1) 25%,var(--color-2) 25%,var(--color-2) 50%,var(--color-3) 50%,var(--color-3) 75%,var(--color-4) 75%,var(--color-4) 100%);
}

/*------------------------
        Linear
-------------------------*/
.chart.straight .spinner {
  width: 100%;
  min-height: 35px;
  background: #ddd;
}

.chart.straight .spinner:after,
.pointer-chart .spinner:before {
  top: 0;
  bottom:0;
  z-index: 2;
  animation: step 1s .5s both;
}
.chart.straight .spinner:after {
  background: linear-gradient(90deg, var(--spinner) calc(var(--step)*1%), transparent 0);
  left:0;
  width: 100%;
}

.pointer-chart .spinner:before {
  background: #000;
  left: calc(var(--step)*1%);
  width: 3px;
  transform: translate(-50%, 0); 
  z-index: 3;
}
.pointer-chart.top .spinner:before,
.pointer-chart.bottom .spinner:before {
  height: 7px;
  width: 7px;
  background-color: transparent;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.pointer-chart.top .spinner:before {
  top: -9px;
  bottom: unset;
  transform: rotate(-45deg) translate(-30%,-50%);
}
.pointer-chart.bottom .spinner:before {
  bottom: -7px;
  top: unset;
  transform: rotate(135deg) translate(72%, 0%);
}
.chart.straight .valor{bottom: 50%;  transform: translate(-50%,50%);}

/* CHarts */

/* .charts > .chart{
  transform: rotate(-90deg);
} */
.charts.mixed .spinner-block {
  display: flex;
  transform: rotate(90deg);
}
.charts.half{
  transform: rotate(0deg);
}

.charts .donuts-thin .spinner-block .chart {
  position: absolute;
  top: 50%;
  width: calc(100% - (var(--b) * 2) - 4px);
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Half charts */

.charts .half-donuts .spinner-block .chart {
  position: absolute;
  top: 102%;
  width: calc(100% - (var(--b) * 2) - 4px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.charts .half-donuts .spinner{cursor: pointer;opacity: 1;}
.charts .half-donuts .spinner:hover { opacity: .6;}
.charts .chart .valor{
  visibility: hidden;
}
.charts .spinner:hover + .valor {
  visibility: visible;
}
/*---------------------------------
      Area Chart
---------------------------------*/
.area-chart,
.area-chart .area-poligon {
  /* Dimensions */
  width: 100%;
  max-width: var(--chart-width, 98%);
  height: var(--chart-height, 300px);

  /* Layout */
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 2rem;
}

.area-chart .poligon {
  background: var(--c, rgba(240, 50, 50, .75));
  clip-path: polygon(
/* top left */      0% calc(100% - ( 1% * var(--start))),/* 100 * ( 100 - 10)*/
/* top right */     100% calc(100% - ( 1% * var(--end))),
/* bottom right */  100% 100%,
/* bottom left */   0% 100%
      );
  animation: chartAreaStart 1s .5s both;
  border-left: 1px solid #d8d8d8;
  position: relative;
}

.charts .area-chart {
  position: absolute;
}
/*POLIGON*/
.area-chart.linear .area-poligon {
  /* Dimensions */
  width: 100%;
  max-width: var(--chart-width, 100%);
  height: var(--chart-height, auto);
}
.area-chart .area-poligon {
  max-width: 100%;
}
.area-chart .area-poligon{
  padding-bottom: 2rem;
  position: relative;
}

.area-chart .valor{
  right: 0;
  left: unset;
  bottom: calc(var(--end) * 1%);
  transform: translateX(50%);
}